# Скопируйте этот файл в .env и заполните значения

OLLAMA_URL=http://host.docker.internal:18787/api/generate
OLLAMA_MODEL=qwen2.5:7b
PROTOCOLS_DIR=/src/protocols
VOSK_MODEL_PATH=/src/model
STATIC_DIR=/src/static
OMP_NUM_THREADS=4

# CORS: укажите реальный домен на проде, например:
# ALLOWED_ORIGINS=https://your.domain.ru
# Для локальной разработки можно оставить * :
ALLOWED_ORIGINS=*
